{% extends 'base/base.html' %}

{% block title %}
    Instances
{% endblock %}

 {% block content %}
 {# Cac button hien thi may ao #}
<div class = "row">
  <div class = "col-md-2 col-md-offset-6"><button class = 'btn btn-default' type = 'submit'>Bat toan bo may ao</button></div>
  <div class = "col-md-2 "><button class = 'btn btn-default' type = 'submit'>Reset toan bo may ao</button></div>
  <div class = "col-md-2 "><button class = 'btn btn-default' type = 'submit'>Tat toan bo may ao</button></div>
</div>
{# Cac button cua tung tennant#}
<div class="table-responsive">
{% for tenant in listtenant %}
   <div class = "row">
      <form action = "/taomayao" method = "POST"> {%csrf_token%}
       <input name="tenantid" value="{{tenant.getid}}" type="hidden"/>
       <div class = "col-md-1"> <button class = 'btn btn-default' type = 'submit' name = 'layidtenant'>Tao May ao</button></div>
      </form>
   </div>
   <table class="table table-bordered table-hover">
    <tr>
       <caption align = "center"> {{tenant.getname}}</caption>
    </tr>
    <tr>
       <th>ID</th>
       <th>Ten May Ao </th>
    </tr>
  {% for server in listserver %}
    {% if tenant.getid == server.gettenantid %} 
      <tr>
        <td>{{server.getid}}</td>
        <td>{{server.getname}}</td>
      </tr> 
    {% endif %} 
  {%endfor %}
  </table>
{% endfor %}
</div>
{% endblock %}
